.topbar {
    position: absolute;
    top: 20px;
    min-width: 1124px;
    z-index: 128;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #3c4043;
}
.textbox {
    border-radius: 25px;
    background-color: #303134;
    border: 1px solid #303134;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 10px;
    padding-left: 20px;
}
textarea {
    width: 50px;
    font: 16px arial,sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    overflow-x: hidden;
    resize: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 0 3px;
    color: #e8eaed;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    flex: 100%;
}
.colored {
    max-height: 30px;
    padding-right: 10px;
}
.vl {
    display: block;
    border-left: 1px solid #5f6368;
    height: 85%;
}
.logo {
    max-height: 35px;
}
.logobox {
    padding-top: 10px;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.tab {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    background: #202124;
    border: 1px solid #3c4043;
    box-sizing: border-box;
    border-radius: 20px;
    min-width: 38px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.tab:hover {
    background-color: #303134;
}
.topmost {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content {
    padding-top: 125px;
    padding-left: 175px;
    width: 600px;
}
.num-results {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Google Sans,arial,sans-serif;
    padding-top: 0px;
    padding-bottom: 0;
    padding-right: 8px;
    color: #9aa0a6;
    line-height: 43px;
}
.result {
    padding-top: 10px;
    padding-bottom: 10px;
}
cite {
    color: #bdc1c6;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 18px;
}
a {
    color: #8ab4f8;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255,255,255,.1);
    cursor: pointer;
}
h3 {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    line-height: 1.3;
    margin-bottom: 3px;
    padding-top: 5px;
}
h3:hover {
    text-decoration: underline;
}
.result-blurb {
    color: #bdc1c6;
}
.sitename {
    color: #dadce0;
    font-size: 14px;
    display: block;
    line-height: 20px;
    white-space: nowrap;
}