.topbar {
    padding: 6px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.searchform {
    border-radius: 25px;
    border: 1px solid #5f6368;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 10px;
}
.searchform:hover{
    background-color: #303134;
    border: 1px solid #303134;
}
.logo {
    position: relative;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.content {
    position: relative;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
.main {
    margin-bottom: 15%;
    text-align: center;
}
textarea {
    border: 0px;
    resize: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    caret-color: white;
    color: white;
    font-family: arial,sans-serif;
    line-height: 22px;
    overflow-x: hidden;
}
.searchglass {
    max-height: 20px;
    color: #9aa0a6;
}
.threedots {
    max-height: 26px;
    color: #9aa0a6;
    margin-top: 10px;
}
.colored {
    max-height: 24px;
}
svg {
    padding-right: 13px;
}
input[type="submit"] {
    background-color: #303134;
    color: #e8eaed;
    border: 1px solid #303134;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
input[type="submit"]:hover {
    border: 1px solid #5f6368;
}
a {
    color: #bdc1c6;
    margin: 0 5px;
    padding: 5px;
}
a:hover {
    text-decoration: underline;
}
a.toplink {
    margin-top: 10px;
}
a.footerlink {
    color: #999da2;
    display: block;
    padding: 15px;
    white-space: nowrap;
}
a.services {
    color: white;
    margin-top: 10px;
}
.bottom {
    background-color: #171717;
    margin: 0;
    padding: 0;
}
.general {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.countrybar {
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
    color: #9aa0a6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pfp {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: rgb(18, 18, 18);
    background-color: rgb(117, 117, 117);
    margin-top: 5px;
}
.counterweight {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: rgb(18, 18, 18);
}